* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", system-ui;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}



body {
    background-image: url(./img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #251607;
}

.header {
    padding: 20px 0;

    @media (max-width: 700px) {
        background-image: url(./img/bg-2.png);
        background-position: center;
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
        /* display: none; */
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100dvh;
        background-color: #251607;
        z-index: 10;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        /* opacity: 0;
       visibility: hidden; */
        transition: 0.5s;

        &.active {
            /* opacity: 1;
        visibility: visible; */
            right: 0;
        }
    }


    a {
        text-decoration: none;
        color: #251607;
        font-size: 30px;
        font-weight: 600;

        @media (max-width: 700px) {
            color: #FFF0E1;
        }
    }

}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo,
.burger {
    display: none;

    @media (max-width: 700px) {
        display: block;
        z-index: 11;
    }
}

.hero {
    padding: 30px 0;
}

.hero__wrapper {
    text-align: center;

    img {
        width: 100%;
    }

    h1 {
        font-size: 450px;
        line-height: 1;
    }

    p {
        font-size: 22px;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 500;
    }

    div {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 20px;

        h4 {
            font-size: 22px;
        }
    }
}

.album {
    padding: 50px 0;

    .container {
        max-width: 1900px;
        padding: 0;
    }
}

/* .container {}

.album__wrapper {}

.swiper {}

.swiper-album-1 {}

.swiper-wrapper {} */

.swiper-slide {
    img {
        width: 100%;
    }
}

/* .swiper-album-2 {}

.meet {}

.container {} */

.meet__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 40px;

    p {
        font-size: 22px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column-reverse;
    }
}

.meet__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 100%;
    }
}

.meet__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;

    img {
        width: 100%;
    }

    p {
        text-align: right;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    h2 {
        /* font-size: 210px; */
        font-size: clamp(4.375rem, -2.431rem + 15.56vw, 13.125rem);
        text-transform: uppercase;
        line-height: 1.2;
    }

    h3 {
        /* font-size: 95px; */
        font-size: clamp(2.5rem, -0.257rem + 5.88vw, 5.625rem);

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

.our {
    padding: 100px 0;
}

.our__title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}

.our__wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px 20px;
    grid-template-areas:
        "card card2 card3"
        "card card4 card5";

    .card1 {
        grid-area: card;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .card5 {
        grid-area: card5;
    }

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card card"
            "card2 card3"
            "card4 card5";
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "card"
            "card2"
            "card3"
            "card4"
            "card5";
    }


}

.our__crad {
    min-height: 350px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    flex-direction: column;
    color: white;
    transition: 0.4s;

    h3 {
        transition: 0.4s;
    }

    p {
        height: 0px;
        transition: 0.4s;
        overflow: hidden;
    }

    &:hover {
        h3 {
            font-size: 30px;
        }

        p {
            height: 30px;
            overflow: hidden;
        }
    }

    @media (max-width: 768px) {
        min-height: 280px;
    }

}

.card1 {
    background-image: url(./img/plans-1.png);
}

.card2 {
    background-image: url(./img/plans-2.png);
}

.card3 {
    background-image: url(./img/plans-3.png);

}

.card4 {
    background-image: url(./img/plans-4.png);

}

.card5 {
    background-image: url(./img/plans-5.png);

}

.team {
    padding-bottom: 100px;
}

.team__wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr;


    @media (max-width:1100px) {
        grid-template-columns: 1fr;
    }
    h2 {
       


        /* font-size: 180px; */
        font-size: clamp(3.75rem, 1.25rem + 10vw, 11.25rem);
        text-transform: uppercase;
        
    }
    gap: 50px;
}

.team__box {

}

.team__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.team__card {
    /* min-height: 290px; */
    min-height: clamp(6.25rem, 3.125rem + 12.5vw, 15.625rem);
    /* max-height: 300px;  */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 35px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    color: beige;
    
    transition: 0.5s;
    text-transform: uppercase;
    /* aspect-ratio: 2/1; */
    

    &:hover {
        background-size: 140%;
        filter: brightness(1) sepia(5%) saturate(700%);
    }

    &:nth-child(1) {
        background-image: url(./img/team-2.png);
    }
    &:nth-child(2) {
        background-image: url(./img/team-4.png);
    }
    &:nth-child(3) {
        background-image: url(./img/team-3.png);
    }
    &:nth-child(4) {
        background-image: url(./img/team-1.png);
        background-size: 152%;
        /* filter: brightness(1) sepia(5%) saturate(700%); */
        &:hover {
            background-size: 170%;
        }

    }
}

.team__img {
    width: 100%;
    @media (max-width:1100px) {
        display: none;
    }
}


.team__swiper {
    .swiper-slide {
        min-height: 250px;
        border: 2px solid black;

        display: flex;
        align-items: end;
        text-align: center;
        justify-content: center;
        padding-bottom: 25px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:nth-child(1),  &:nth-child(5) {
            background-image: url(./img/team-2.png);
        }
        &:nth-child(2),  &:nth-child(6) {
            background-image: url(./img/team-4.png);
        }
        &:nth-child(3),  &:nth-child(7) {
            background-image: url(./img/team-3.png);
        }
        &:nth-child(4),  &:nth-child(8){
            background-image: url(./img/team-1.png);
            /* background-size: 152%; */
            /* filter: brightness(1) sepia(5%) saturate(700%); */
            /* &:hover {
                background-size: 170%;
            } */
    
        }
    }
    display: none;
    
}

.team__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    max-width: 400px;
    margin: 30px auto;
    div {
        position: static;
        margin: 0;
    }
}



.footer {
}
.container {
}
.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;

    @media (max-width: 1250px) {
        grid-template-columns: 2fr 1fr;
    }
    @media (max-width: 950px) {
        grid-template-columns: 1fr;
    }
}
.footer__box {
}
.footer__title {

    width: 100%;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 40px;

    a {
        color: #251607;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;
    }
    @media (max-width: 650px) {
        flex-direction: column;
        gap: 30px;
    }
    
}
.footer__eyes {
    width: 100%;
    border: 5px solid black;
}
.footer__img {
    width: 100%;

}




.pink {
    background-image: url(./img/bg-2.png);
    
    p, h1, h2, h3, h4, a {
    color: #E69AA4;
        
    }
}





.hero-2 {
    padding: 60px 0;
}
.hero-2__imgs {
    overflow: hidden;
    display: flex;
    gap: 10px;
    img {
        width: 100%;
    }
}
.container {
}
.hero-2__wrapper {
    h3 {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        padding: 10px;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }
}
.hero-2__title {
    width: 100%;
}
.hero-2__img {
    width: 100%;

}
.hero-2__subtitle {
    text-align: center;
    text-transform: uppercase;
}